#configs = LightCollapsed
#configs = ADLDA
configs = Spalias-Polya
#configs = Spalias-Outlook
#configs = LightPCLDAW2, Light, LightCollapsed, Spalias
no_runs = 1
seed=4711
topics = 25
alpha = 0.01
beta = 0.01
iterations = 3000
topic_interval = 10
start_diagnostic = 500
debug = 0
rare_threshold = 5
log_type_topic_density = true
log_document_density = true
log_phi_density = true
save_doc_topic_means = true
doc_topic_mean_filename = doc_topic_means.csv
phi_mean_filename = phi_means.csv
phi_mean_burnin = 20
phi_mean_thin = 5
save_doc_lengths = true
doc_lengths_filename = doc_lengths.txt
save_term_frequencies = true
term_frequencies_filename = term_frequencies.txt
save_vocabulary = true
vocabulary_filename = lda_vocab.txt
#dataset = src/main/resources/datasets/nips.txt
#dataset = src/main/resources/datasets/enron.txt
dataset = /Users/eralljn/Research/Datasets/20newsgroups.lda
stoplist = stoplist-20ng.txt
#sparse_dirichlet_sampler_name = cc.mallet.types.PolyaUrnDirichlet
hyperparam_optim_interval = 100
#symmetric_alpha = true

[Spalias-EMR]
title = PCPLDA
description = PCP LDA on selected dataset
scheme = spalias
dataset = /Users/eralljn/Downloads/EMR/output/messages.dat
iterations = 2000
alpha = 0.01
beta = 0.01
stoplist = stoplist-emr.txt

[Spalias-Outlook]
title = PCPLDA
description = PCP LDA on selected dataset
dataset = /Users/eralljn/workspace/OutlookMail/mails.lda
scheme = spalias
topics = 40
iterations = 5000
alpha = 0.01
beta = 0.01
rare_threshold = 10
stoplist = stoplist-mail.txt

[Spalias]
title = PCPLDA
description = PCP LDA on selected dataset
scheme = spalias

[Spalias-Polya]
title = PCPLDA
description = PCP LDA on selected dataset
scheme = polyaurn
#sparse_dirichlet_sampler_name = cc.mallet.types.PolyaUrnDirichlet

[Spalias-nips]
title = PCPLDA
description = PCP LDA on NIPS
dataset = src/main/resources/datasets/nips.txt
scheme = spalias
iterations = 100

[Light]
title = LightPCLDA
description = PCP LDA on selected dataset
scheme = lightpclda

[LightCollapsed]
title = LightCollapsed
description = Light Collapsed LDA on selected dataset
scheme = lightcollapsed

[LightPCLDAW2]
title = LightPCLDAW2
description = Light PCP LDA with type-topic proposal on selected dataset
scheme = lightpcldaw2

[ADLDA]
title = ADLDA
description = AD LDA on selected dataset
scheme = adlda
tfidf_vocab_size = 50

