#configs = 20ng-2000
#configs = 20ng
configs = films-imdb-1000
#configs = telco
no_runs = 1
test_iterations = 20
x_folds = 3
burn_in = 70
lag = 10
seed=4711

[20ng]
title = DOLDA
description = DOLDA on selected dataset
dataset = /Users/eralljn/Research/Datasets/20newsgroups.lda
topics = 40
rare_threshold = 3
alpha = 0.01
beta = 0.01
iterations = 1000
batches = 4
topic_interval = 500
debug = 0
log_type_topic_density = true
log_document_density = true
log_phi_density = true
save_betas = true
save_doc_topic_means = true
doc_topic_mean_filename = doc_topic_means.csv
stoplist = stoplist-20ng.txt

[20ng-2000]
title = DOLDA
description = DOLDA on selected dataset
dataset = /Users/eralljn/Research/Datasets/20newsgroups-10.lda
topics = 40
rare_threshold = 10
alpha = 0.01
beta = 0.01
iterations = 1000
batches = 4
topic_interval = 500
debug = 0
log_type_topic_density = true
log_document_density = true
log_phi_density = true
save_betas = true
save_doc_topic_means = true
doc_topic_mean_filename = doc_topic_means.csv
stoplist = stoplist-20ng.txt

[telco]
title = DOLDA
description = DOLDA on selected dataset
textdataset_train = ../DOLDA/src/main/resources/datasets/trdb-dolda-article.lda
dataset = ../DOLDA/src/main/resources/datasets/trdb-dolda-article.lda
topics = 40
rare_threshold = 10
alpha = 0.01
beta = 0.01
iterations = 5000
batches = 4
topic_interval = 500
debug = 0
log_type_topic_density = true
log_document_density = true
log_phi_density = true
save_betas = true
save_doc_topic_means = true
doc_topic_mean_filename = doc_topic_means.csv


[films-imdb-small]
title = DOLDA
description = DOLDA on selected dataset
dataset = ../DOLDA/src/main/resources/datasets/films-imdb-141.lda
topics = 40
rare_threshold = 3
alpha = 0.01
beta = 0.01
iterations = 30
batches = 4
topic_interval = 50
debug = 0
log_type_topic_density = true
log_document_density = true
log_phi_density = true
save_betas = true
save_doc_topic_means = true
doc_topic_mean_filename = doc_topic_means.csv

[films-imdb-1000]
title = DOLDA
description = DOLDA on selected dataset
dataset = ../DOLDA/src/main/resources/datasets/films-imdb-1000.lda
topics = 50
#rare_threshold = 0
tfidf_vocab_size = 10000
alpha = 0.1
beta = 0.01
iterations = 5000
topic_interval = 500
log_type_topic_density = true
log_document_density = true
log_phi_density = true
save_betas = true
save_doc_topic_means = true
doc_topic_mean_filename = doc_topic_means.csv

[small]
title = DOLDA
description = DOLDA on selected dataset
dataset = src/main/resources/datasets/SmallTexts.txt
topics = 3
#rare_threshold = 0
tfidf_vocab_size = 10000
alpha = 0.1
beta = 0.01
iterations = 5000
topic_interval = 500
log_type_topic_density = true
log_document_density = true
log_phi_density = true
save_betas = true
save_doc_topic_means = true
doc_topic_mean_filename = doc_topic_means.csv

[films-imdb]
title = DOLDA
description = DOLDA on full IMDB dataset
dataset = ../DOLDA/src/main/resources/datasets/films-imdb.lda
topics = 40
rare_threshold = 3
alpha = 0.01
beta = 0.01
iterations = 1000
batches = 4
topic_interval = 100
debug = 0
log_type_topic_density = true
log_document_density = true
log_phi_density = true
save_betas = true
save_doc_topic_means = true
doc_topic_mean_filename = doc_topic_means.csv

