configs = Generate_NIPS_BadData_20
# configs = Light
#configs = VSSpalias, Spalias
#configs = VSSpalias, Spalias, ADLDA
no_runs = 1
#experiment_out_dir = test_exp
lag = 10
burnin = 90

[VSSpalias]
title = VSPCPLDA
description = PCP LDA with variable selection on selected dataset
#dataset = src/main/resources/datasets/ap.txt
#dataset = src/main/resources/datasets/nips.txt
dataset = src/main/resources/datasets/enron.txt
#dataset = src/main/resources/datasets/pubmed.txt
scheme = nzvsspalias
seed=4711
topics = 400
alpha = 0.1
beta = 0.01
variable_selection_prior = 0.01
iterations = 3000
#diagnostic_interval = 50, 150
#dn_diagnostic_interval = 1,5
batches = 4
topic_batches = 4
topic_interval = 10
start_diagnostic = 500
results_size = 200
debug = 0
log_type_topic_density = true
log_document_density = true
log_phi_density = true

[Spalias]
title = PCPLDA
description = PCP LDA on selected dataset
#dataset = src/main/resources/datasets/ap.txt
#dataset = src/main/resources/datasets/nips.txt
dataset = src/main/resources/datasets/enron.txt
#dataset = ../DOLDA/src/main/resources/datasets/films-imdb-15000.lda
#dataset = src/main/resources/datasets/pubmed.txt
scheme = spalias
seed=4711
topics = 50
alpha = 0.1
beta = 0.01
iterations = 100
#diagnostic_interval = 50, 150
#dn_diagnostic_interval = 1,5
batches = 4
topic_batches = 4
topic_interval = 10
start_diagnostic = 500
results_size = 200
debug = 0
log_type_topic_density = true
log_document_density = true
log_phi_density = true
phi_mean_filename = phi-mean.csv
phi_mean_burnin = 20
phi_mean_thin = 5

[Light]
title = PCPLDA
description = PCP LDA on selected dataset
#dataset = src/main/resources/datasets/ap.txt
#dataset = src/main/resources/datasets/nips.txt
dataset = src/main/resources/datasets/enron.txt
#dataset = ../DOLDA/src/main/resources/datasets/films-imdb-1000.lda
#dataset = src/main/resources/datasets/pubmed.txt
scheme = lightpclda
seed=4711
topics = 1000
alpha = 0.1
beta = 0.01
iterations = 100
#diagnostic_interval = 50, 150
#dn_diagnostic_interval = 1,5
batches = 4
topic_batches = 4
topic_interval = 10
start_diagnostic = 500
results_size = 200
debug = 0
log_type_topic_density = true
log_document_density = true
log_phi_density = true
phi_mean_filename = phi-mean.csv
phi_mean_burnin = 20
phi_mean_thin = 5

[LightCollapsed]
title = PCPLDA
description = PCP LDA on selected dataset
#dataset = src/main/resources/datasets/ap.txt
dataset = src/main/resources/datasets/nips.txt
#dataset = src/main/resources/datasets/enron.txt
#dataset = ../DOLDA/src/main/resources/datasets/films-imdb-1000.lda
#dataset = src/main/resources/datasets/pubmed.txt
scheme = lightcollapsed
seed=4711
topics = 100
alpha = 0.1
beta = 0.01
iterations = 100
#diagnostic_interval = 50, 150
#dn_diagnostic_interval = 1,5
batches = 4
topic_batches = 4
rare_threshold = 10
topic_interval = 10
start_diagnostic = 500
results_size = 200
debug = 0
log_type_topic_density = true
log_document_density = true
log_phi_density = true
phi_mean_filename = phi-mean.csv
phi_mean_burnin = 20
phi_mean_thin = 5
save_doc_topic_means = true
doc_topic_mean_filename = test.csv



[ADLDA]
title = ADLDA
description = AD LDA on selected dataset
#dataset = src/main/resources/datasets/ap.txt
#dataset = src/main/resources/datasets/nips.txt
dataset = src/main/resources/datasets/enron.txt
#dataset = src/main/resources/datasets/pubmed.txt
scheme = adlda
seed=4711
topics = 400
alpha = 0.1
beta = 0.01
iterations = 3000
#diagnostic_interval = 50, 150
#dn_diagnostic_interval = 1,5
batches = 4
topic_batches = 4
topic_interval = 10
start_diagnostic = 500
results_size = 200
debug = 0
log_type_topic_density = true
log_document_density = true


[Generate_NIPS_BadData_100]
title = NIPS_BadData
description = NIPS_BadData
dataset = ../datasets_pclda/nips_random.txt
scheme = spalias
seed = 4711
topics = 100
alpha = 0.01
beta = 0.01
iterations = 10000
rare_threshold = 10
topic_interval = 10
batches = 4
topic_batches = 4
debug = 0
log_type_topic_density = false 
log_document_density = false 
log_phi_density = false 
stoplist = stoplist.txt 
save_doc_topic_means = true
doc_topic_mean_filename = nips_100_mean.csv
phi_mean_filename = Phi.csv
phi_mean_burnin = 90
phi_mean_thin = 10


[Generate_NIPS_BadData_20]
title = NIPS_BadData
description = NIPS_BadData
dataset = ../datasets_pclda/nips_random.txt
scheme = spalias
seed = 4711
topics = 20
alpha = 0.01
beta = 0.01
iterations = 10000
rare_threshold = 10
topic_interval = 10
batches = 4
topic_batches = 4
debug = 0
log_type_topic_density = false 
log_document_density = false 
log_phi_density = false 
stoplist = stoplist.txt 
save_doc_topic_means = true
doc_topic_mean_filename = nips_20_mean.csv
phi_mean_filename = Phi.csv
phi_mean_burnin = 90
phi_mean_thin = 10


