#configs = hLDA-nips
#configs = hLDA-20ng
#configs = HDPLDA-20ng
#configs = HDPLDA-all-cgcbib
#configs = HDPLDA-all-20ng
#configs = HDPLDA-all-enron
configs = HDPLDA-all-nips
#configs = HDPLDA-all-trs
#configs = HDPLDA-nips
no_runs = 1
seed=4711
# K_max
topics = 1000
alpha = 0.1
beta = 0.01
hdp_gamma = 10
# K_init
hdp_nr_start_topics = 100
iterations = 10000
topic_interval = 50
start_diagnostic = 500
debug = 0
topic_batches = 12
rare_threshold = 5
log_type_topic_density = true
log_document_density = true
log_phi_density = true
save_doc_topic_means = true
doc_topic_mean_filename = doc_topic_means.csv
phi_mean_filename = phi_means.csv
phi_mean_burnin = 20
phi_mean_thin = 5
save_doc_lengths = true
doc_lengths_filename = doc_lengths.txt
save_term_frequencies = true
term_frequencies_filename = term_frequencies.txt
save_vocabulary = true
vocabulary_filename = lda_vocab.txt
stoplist = stoplist.txt
alias_poisson_threshold = 100
#sparse_dirichlet_sampler_builder_name = cc.mallet.types.PolyaUrnDirichlet
sparse_dirichlet_sampler_builder_name = cc.mallet.types.PolyaUrnFixedCoeffPoissonDirichletSamplerBuilder
save_doc_topic_diagnostics = true
doc_topic_diagnostics_filename = doc_topic_diagnostics.csv
#hyperparam_optim_interval = 100
hyperparam_optim_interval = -1
log_tokens_per_topic = true

### NIPS ###
[hLDA-nips]
title = hLDA
description = Poisson Polya Urn hLDA
scheme = ppu_hlda
dataset = src/main/resources/datasets/nips.txt

[HDPLDA-nips]
title = hLDA
description = Poisson Polya Urn HDP LDA
scheme = ppu_hdplda
dataset = src/main/resources/datasets/nips.txt

[hLDA-nips-test-enron]
title = hLDA
description = Poisson Polya Urn hLDA
scheme = ppu_hlda
dataset = src/main/resources/datasets/nips.txt
test_dataset = src/main/resources/datasets/enron.txt


### ENRON ###
[hLDA-enron]
title = hLDA
description = Poisson Polya Urn hLDA
scheme = ppu_hlda
dataset = src/main/resources/datasets/enron.txt

### 20ng ###
[hLDA-20ng]
title = hLDA
description = Poisson Polya Urn hLDA
scheme = ppu_hlda
dataset = src/main/resources/datasets/20newsgroups.txt
stoplist = stoplist-20ng-large.txt

[HDPLDA-20ng]
title = hLDA
description = Poisson Polya Urn hLDA
scheme = ppu_hdplda
dataset = src/main/resources/datasets/20newsgroups.txt
stoplist = stoplist-20ng-large.txt

[HDPLDA-cgcbib]
title = HDPLDA
description = Poisson Polya Urn HDP LDA
scheme = ppu_hdplda
dataset = src/main/resources/datasets/cgcbib_abstracts_lda.txt

[HDPLDA-all-cgcbib]
title = HDPLDAAll
description = Poisson Polya Urn HDP LDA With all topics active
scheme = ppu_hdplda_all_topics
dataset = src/main/resources/datasets/cgcbib_abstracts_lda.txt

[HDPLDA-all-20ng]
title = HDPLDAAll
description = Poisson Polya Urn HDP LDA With all topics active
scheme = ppu_hdplda_all_topics
dataset = src/main/resources/datasets/20newsgroups.txt
stoplist = stoplist-20ng-large.txt

[HDPLDA-all-enron]
title = HDPLDAAll
description = Poisson Polya Urn HDP LDA With all topics active
scheme = ppu_hdplda_all_topics
dataset = src/main/resources/datasets/enron.txt

[HDPLDA-all-trs]
title = HDPLDAAll
description = Poisson Polya Urn HDP LDA With all topics active
scheme = ppu_hdplda_all_topics
dataset = /Users/eralljn/Documents/Datasets/lte-rewritten-2016-11-lte-full.lda

[HDPLDA-all-nips]
title = HDPLDAAll
description = Poisson Polya Urn HDP LDA With all topics active
scheme = ppu_hdplda_all_topics
dataset = src/main/resources/datasets/nips.txt
