#configs = Spalias-nips, Std-Spalias-w-Polya-nips, Spalias-Polya-nips, Spalias-Polya-FastPois-nips, Spalias-enron, Std-Spalias-w-Polya-enron, Spalias-Polya-enron, Spalias-Polya-FastPois-enron, Spalias-20ng, Std-Spalias-w-Polya-20ng, Spalias-Polya-20ng, Spalias-Polya-FastPois-20ng
#configs = Spalias-Polya-FastPois-nips, Spalias-enron, Std-Spalias-w-Polya-enron, Spalias-Polya-enron, Spalias-Polya-FastPois-enron, Spalias-20ng, Std-Spalias-w-Polya-20ng, Spalias-Polya-20ng, Spalias-Polya-FastPois-20ng
#configs = Spalias-20ng, Std-Spalias-w-Polya-20ng, Spalias-Polya-20ng, Spalias-Polya-FastPois-20ng 
#configs = Std-Spalias-w-std-Pois-nips, Std-Spalias-w-std-Pois-enron, Std-Spalias-w-std-Pois-20ng
#configs = Std-Spalias-w-std-Pois-enron
configs = Spalias-Polya-FastPois-20ng
no_runs = 1
seed=4711
topics = 25
alpha = 0.01
beta = 0.01
iterations = 5000
topic_interval = 10
start_diagnostic = 500
debug = 0
rare_threshold = 5
log_type_topic_density = true
log_document_density = true
log_phi_density = true
save_doc_topic_means = true
doc_topic_mean_filename = doc_topic_means.csv
phi_mean_filename = phi_means.csv
phi_mean_burnin = 20
phi_mean_thin = 5
save_doc_lengths = true
doc_lengths_filename = doc_lengths.txt
save_term_frequencies = true
term_frequencies_filename = term_frequencies.txt
save_vocabulary = true
vocabulary_filename = lda_vocab.txt
stoplist = stoplist.txt
alias_poisson_threshold = 100
#sparse_dirichlet_sampler_builder_name = cc.mallet.types.PolyaUrnDirichlet

save_doc_topic_diagnostics = true
doc_topic_diagnostics_filename = doc_topic_diagnostics.csv
hyperparam_optim_interval = 100
#hyperparam_optim_interval = -1


### NIPS ###
[Spalias-nips]
title = PCPLDA
description = PCP LDA on selected dataset
scheme = spalias
dataset = src/main/resources/datasets/nips.txt

[Std-Spalias-w-Polya-nips]
title = PCPLDA
description = Standars Spalias but with FixedEffectPolyaUrn Dirichlet sampler
scheme = spalias
sparse_dirichlet_sampler_builder_name = cc.mallet.types.PolyaUrnFixedCoeffPoissonDirichletSamplerBuilder
dataset = src/main/resources/datasets/nips.txt

[Std-Spalias-w-std-Pois-nips]
title = PCPLDA
description = Standars Spalias but with FixedEffectPolyaUrn Dirichlet sampler
scheme = spalias
sparse_dirichlet_sampler_builder_name = cc.mallet.types.PolyaUrnDirichletSamplerBuilder
dataset = src/main/resources/datasets/nips.txt

[Spalias-Polya-nips]
title = PCPLDA
description = Polya Urn Spalias with Plain Poisson Dirichlet Sampler
scheme = polyaurn
sparse_dirichlet_sampler_builder_name = cc.mallet.types.PolyaUrnDirichletSamplerBuilder
dataset = src/main/resources/datasets/nips.txt

[Spalias-Polya-FastPois-nips]
title = PCPLDA
description = Polya Urn Spalias with Fixed Effect Poisson Dirichlet Sampler
scheme = polyaurn
sparse_dirichlet_sampler_builder_name = cc.mallet.types.PolyaUrnFixedCoeffPoissonDirichletSamplerBuilder
dataset = src/main/resources/datasets/nips.txt
test_dataset = src/main/resources/datasets/enron.txt


### ENRON ###
[Spalias-enron]
title = PCPLDA
description = PCP LDA on selected dataset
scheme = spalias
dataset = src/main/resources/datasets/enron.txt

[Std-Spalias-w-Polya-enron]
title = PCPLDA
description = Standars Spalias but with FixedEffectPolyaUrn Dirichlet sampler
scheme = spalias
sparse_dirichlet_sampler_builder_name = cc.mallet.types.PolyaUrnFixedCoeffPoissonDirichletSamplerBuilder
dataset = src/main/resources/datasets/enron.txt

[Std-Spalias-w-std-Pois-enron]
title = PCPLDA
description = Standars Spalias but with FixedEffectPolyaUrn Dirichlet sampler
scheme = spalias
sparse_dirichlet_sampler_builder_name = cc.mallet.types.PolyaUrnDirichletSamplerBuilder
dataset = src/main/resources/datasets/enron.txt

[Spalias-Polya-enron]
title = PCPLDA
description = Polya Urn Spalias with Plain Poisson Dirichlet Sampler
scheme = polyaurn
sparse_dirichlet_sampler_builder_name = cc.mallet.types.PolyaUrnDirichletSamplerBuilder
dataset = src/main/resources/datasets/enron.txt

[Spalias-Polya-FastPois-enron]
title = PCPLDA
description = Polya Urn Spalias with Fixed Effect Poisson Dirichlet Sampler
scheme = polyaurn
sparse_dirichlet_sampler_builder_name = cc.mallet.types.PolyaUrnFixedCoeffPoissonDirichletSamplerBuilder
dataset = src/main/resources/datasets/enron.txt



### 20ng ###
[Spalias-20ng]
title = PCPLDA
description = PCP LDA on selected dataset
scheme = spalias
dataset = src/main/resources/datasets/20newsgroups.txt

[Std-Spalias-w-Polya-20ng]
title = PCPLDA
description = Standars Spalias but with FixedEffectPolyaUrn Dirichlet sampler
scheme = spalias
sparse_dirichlet_sampler_builder_name = cc.mallet.types.PolyaUrnFixedCoeffPoissonDirichletSamplerBuilder
dataset = src/main/resources/datasets/20newsgroups.txt

[Std-Spalias-w-std-Pois-20ng]
title = PCPLDA
description = Standars Spalias but with FixedEffectPolyaUrn Dirichlet sampler
scheme = spalias
sparse_dirichlet_sampler_builder_name = cc.mallet.types.PolyaUrnDirichletSamplerBuilder
dataset = src/main/resources/datasets/20newsgroups.txt

[Spalias-Polya-20ng]
title = PCPLDA
description = Polya Urn Spalias with Plain Poisson Dirichlet Sampler
scheme = polyaurn
sparse_dirichlet_sampler_builder_name = cc.mallet.types.PolyaUrnDirichletSamplerBuilder
dataset = src/main/resources/datasets/20newsgroups.txt

[Spalias-Polya-FastPois-20ng]
title = PCPLDA
description = Polya Urn Spalias with Fixed Effect Poisson Dirichlet Sampler
scheme = polyaurn
sparse_dirichlet_sampler_builder_name = cc.mallet.types.PolyaUrnFixedCoeffPoissonDirichletSamplerBuilder
dataset = src/main/resources/datasets/20newsgroups.txt

