
configs = spalias_adaptive
#configs = spalias, spalias_adaptive
no_runs = 1

[spalias]
title = PCPLDA
description = Plain Partially Collapsed Parallel LDA
dataset = src/main/resources/datasets/enron.txt
#dataset = src/main/resources/datasets/smallnips.txt
#dataset = src/main/resources/datasets/nips.txt
#dataset = src/main/resources/datasets/pubmed.txt
scheme = spalias
#scheme = paranoid
seed = 4711
topics = 100
alpha = 0.1
beta = 0.01
iterations = 1000
diagnostic_interval = -1
batches = 4
topic_batches = 4
rare_threshold = 10
topic_interval = 10
diagnostic_interval = -1
dn_diagnostic_interval = -1
start_diagnostic = 500
measure_timing = false
results_size = 5
batch_building_scheme = utils.randomscan.document.EvenSplitBatchBuilder
debug = 0

[spalias_adaptive]
title = PCPLDA
description = Spalias Collapsed Parallel LDA with adaptive subsampling
dataset = src/main/resources/datasets/enron.txt
#dataset = src/main/resources/datasets/nips.txt
#dataset = src/main/resources/datasets/pubmed.txt
scheme = spalias
#scheme = uncollapsed
#scheme = paranoid
seed = 4711
topics = 100
alpha = 1.0
beta = 0.01
iterations = 1000
batches = 4
topic_batches = 4
rare_threshold = 10
topic_interval = 10
#batch_building_scheme = cc.mallet.topics.randomscan.document.EvenSplitBatchBuilder
batch_building_scheme = cc.mallet.topics.randomscan.document.PercentageBatchBuilder
percentage_split_size_doc = 0.2
#batch_building_scheme = cc.mallet.topics.randomscan.document.AdaptiveBatchBuilder
#batch_building_scheme = cc.mallet.topics.randomscan.document.FixedSplitBatchBuilder
#fixed_split_size_doc   = 0.1 
#topic_index_building_scheme = cc.mallet.topics.randomscan.topic.DeltaNTopicIndexBuilder
topic_index_building_scheme = cc.mallet.topics.randomscan.topic.ProportionalTopicIndexBuilder
proportional_ib_skip_step = 100
#percent_top_tokens = 0.50
#topic_index_building_scheme = cc.mallet.topics.randomscan.topic.TopWordsRandomFractionTopicIndexBuilder
full_phi_period = 5 # Sample full Phi ever X:th interation
#percentage_split_size_topic = 1.0
#instability_period = 125 # Iterations
#instability_period = 0
debug = 0

