
configs = demo-sl
#configs = demo-st, demo-sl, demo-pl

[demo-nips]
title = Default test
description = Standard LDA on AP dataset
#dataset = src/main/resources/datasets/ap.txt
dataset = src/main/resources/datasets/nips.txt
#dataset = src/main/resources/datasets/Corpus.txt
#dataset = src/main/resources/datasets/CorpusSmall.txt
#scheme = ush_serial
scheme = ush_parallel
seed=4711
topics = 20 
alpha = 1.0
beta = 0.01
iterations = 1000
batches = 2
rare_threshold = 0
topic_interval = 10
start_diagnostic = 500
debug = 0


[demo-st]
title = Default test
description = Standard LDA on AP dataset
dataset = src/main/resources/datasets/Corpus.txt
#dataset = src/main/resources/datasets/ap.txt
scheme = standard
topics = 10 
alpha = 1.0
beta = 0.01
iterations = 5000
batches = 2
rare_threshold = -1
topic_interval = 10
start_diagnostic = 500
debug = 0

[demo-sl]
title = Default test
description = Standard LDA on AP dataset
#dataset = src/main/resources/datasets/Corpus.txt
dataset = src/main/resources/datasets/nips.txt
scheme = ush_serial
topics = 10 
alpha = 1.0
beta = 0.01
iterations = 1500
diagnostic_interval = 3500, 4000
dn_diagnostic_interval = -1
batches = 2
rare_threshold = -1
topic_interval = 10
start_diagnostic = 500
debug = 0


[demo-pl]
title = Default test
description = Standard LDA on AP dataset
dataset = src/main/resources/datasets/Corpus.txt
#dataset = src/main/resources/datasets/ap.txt
scheme = ush_parallel
topics = 10 
alpha = 1.0
beta = 0.01
iterations = 1500
batches = 2
rare_threshold = -1
topic_interval = 10
start_diagnostic = 500
debug = 0

