
#configs = NIPS, ENRON, PUBMED
configs = PUBMED

[NIPS]
dataset = src/main/resources/datasets/nips.txt
dn_diagnostic_interval = -1

[ENRON]
dataset = src/main/resources/datasets/enron.txt
dn_diagnostic_interval = -1

[PUBMED]
dataset = src/main/resources/datasets/pubmed.txt
dn_diagnostic_interval = -1
