configs = uncollapsed_parallel_nips20, uncollapsed_parallel_nips80, uncollapsed_parallel_kos20, uncollapsed_parallel_enron20 
no_runs = 2

[uncollapsed_parallel_nips20]
title = PCPLDA_NIPS20
description = Partially Collapsed Parallel LDA 
#dataset = src/main/resources/datasets/kos.txt
#dataset = src/main/resources/datasets/enron.txt
dataset = src/main/resources/datasets/nips.txt
scheme = uncollapsed
#scheme = paranoid
seed = 4711 # -1 => use LSB of current time as seed
topics = 20
alpha = 0.1
beta = 0.01
iterations = 5000
diagnostic_interval = -1
batches = 4
topic_batches = 3
rare_threshold = 10
topic_interval = 5000
diagnostic_interval = -1
dn_diagnostic_interval = -1
start_diagnostic = 500
measure_timing = false
results_size = 5
batch_building_scheme = utils.randomscan.document.EvenSplitBatchBuilder
#batch_building_scheme = utils.randomscan.document.PercentageBatchBuilder
#batch_building_scheme = utils.randomscan.document.AdaptiveBatchBuilder
debug = 0

[uncollapsed_parallel_nips80]
title = PCPLDA_NIPS80
description = Partially Collapsed Parallel LDA 
#dataset = src/main/resources/datasets/kos.txt
#dataset = src/main/resources/datasets/enron.txt
dataset = src/main/resources/datasets/nips.txt
scheme = uncollapsed
#scheme = paranoid
seed = 4711 # -1 => use LSB of current time as seed
topics = 80
alpha = 0.1
beta = 0.01
iterations = 5000
diagnostic_interval = -1
batches = 4
topic_batches = 3
rare_threshold = 10
topic_interval = 5000
diagnostic_interval = -1
dn_diagnostic_interval = -1
start_diagnostic = 500
measure_timing = false
results_size = 5
batch_building_scheme = utils.randomscan.document.EvenSplitBatchBuilder
#batch_building_scheme = utils.randomscan.document.PercentageBatchBuilder
#batch_building_scheme = utils.randomscan.document.AdaptiveBatchBuilder
debug = 0

[uncollapsed_parallel_enron20]
title = PCPLDA_ENRON20
description = Partially Collapsed Parallel LDA 
#dataset = src/main/resources/datasets/kos.txt
dataset = src/main/resources/datasets/enron.txt
#dataset = src/main/resources/datasets/nips.txt
scheme = uncollapsed
#scheme = paranoid
seed = 4711 # -1 => use LSB of current time as seed
topics = 20
alpha = 0.1
beta = 0.01
iterations = 5000
diagnostic_interval = -1
batches = 4
topic_batches = 3
rare_threshold = 10
topic_interval = 5000
diagnostic_interval = -1
dn_diagnostic_interval = -1
start_diagnostic = 500
measure_timing = false
results_size = 5
batch_building_scheme = utils.randomscan.document.EvenSplitBatchBuilder
#batch_building_scheme = utils.randomscan.document.PercentageBatchBuilder
#batch_building_scheme = utils.randomscan.document.AdaptiveBatchBuilder
debug = 0


[uncollapsed_parallel_kos20]
title = PCPLDA_KOS20
description = Partially Collapsed Parallel LDA 
dataset = src/main/resources/datasets/kos.txt
#dataset = src/main/resources/datasets/enron.txt
#dataset = src/main/resources/datasets/nips.txt
scheme = uncollapsed
#scheme = paranoid
seed = 4711 # -1 => use LSB of current time as seed
topics = 20
alpha = 0.1
beta = 0.01
iterations = 5000
diagnostic_interval = -1
batches = 4
topic_batches = 3
rare_threshold = 10
topic_interval = 5000
diagnostic_interval = -1
dn_diagnostic_interval = -1
start_diagnostic = 500
measure_timing = false
results_size = 5
batch_building_scheme = utils.randomscan.document.EvenSplitBatchBuilder
#batch_building_scheme = utils.randomscan.document.PercentageBatchBuilder
#batch_building_scheme = utils.randomscan.document.AdaptiveBatchBuilder
debug = 0