configs = VSSpalias, ADLDA, Spalias
#configs = VSSpalias
no_runs = 3

[VSSpalias]
title = VSSpalias
scheme = nzvsspalias
description = PCP LDA on selected dataset
#dataset = src/main/resources/datasets/20newsgroups.txt
#dataset = src/main/resources/datasets/nips.txt
dataset = src/main/resources/datasets/enron.txt
seed=4711
topics = 400
alpha = 0.1
beta = 0.01
iterations = 2000
#diagnostic_interval = 50, 150
#dn_diagnostic_interval = 1,5
batches = 4
topic_batches = 4
topic_interval = 10
start_diagnostic = 500
results_size = 200
debug = 0
log_type_topic_density = true
log_document_density = true


[Spalias]
title = Spalias
scheme = spalias
description = PCP LDA on selected dataset
#dataset = src/main/resources/datasets/20newsgroups.txt
#dataset = src/main/resources/datasets/nips.txt
dataset = src/main/resources/datasets/enron.txt
seed=4711
topics = 400
alpha = 0.1
beta = 0.01
iterations = 2000
#diagnostic_interval = 50, 150
#dn_diagnostic_interval = 1,5
batches = 4
topic_batches = 4
topic_interval = 10
start_diagnostic = 500
results_size = 200
debug = 0
log_type_topic_density = true
log_document_density = true


[ADLDA]
title = ADLDA
scheme = adlda
description = PCP LDA on selected dataset
#dataset = src/main/resources/datasets/20newsgroups.txt
#dataset = src/main/resources/datasets/nips.txt
dataset = src/main/resources/datasets/enron.txt
seed=4711
topics = 400
alpha = 0.1
beta = 0.01
iterations = 2000
#diagnostic_interval = 50, 150
#dn_diagnostic_interval = 1,5
batches = 4
topic_batches = 4
topic_interval = 10
start_diagnostic = 500
results_size = 200
debug = 0
log_type_topic_density = true
log_document_density = true